{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>Все новости</h1>
    <h2>Количество новостей {{ news|length }}</h2>
    <hr>
    {% if news %}
        <table width="100%" style="margin-top: 35px">
            <tr>
                <td>Дата публикации</td>
                <td>Автор</td>
                <td>Заголовок</td>
                <td>Описание</td>
            </tr>

            {% for post in news %}
            <tr>
                <td>{{ post.time_in|date:'d m y' }}</td>
                <td>{{ post.author.user }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.text|truncatewords:20 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}